#bodyBody {
    background-image: url(../images/background-body.jpeg);
}

.bodypage {
    position: relative;
    height: 50rem;
    background-color: transparent;
}

.center{
    display: flex;
    justify-content: center;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: transparent;
}

.button {
    padding: 0;
    position: relative;
    border-radius: 50px;
    width: 50px;
    /* Fixed size */
    height: 50px;
    /* Fixed size */
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    z-index: 1030;
}